.centro{
    display: flex;
    flex-direction: row;
    justify-items:center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.cabecalho {
    width: 100%;
    height: 100px;
    margin-left: -10px;
    margin-top: -7px;
    padding: 10px;
    display: flex;          
    background: rgb(212,31,31);
    background: linear-gradient(0deg, rgba(212,31,31,1) 26%, rgba(141,25,28,1) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
  }
  .button{
    width: 190px;
    background-color: #8D191C;
    border: none;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover{
    background: #762326;
}